<br>
<br>
<br>

<h2>ユーザー登録情報</h2>

<%= form_for(@user, url: user_registration_path) do |f| %>
<div class="all">
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :フルネーム %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :年齢 %><br />
    <%= f.text_field :age %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "次に進む" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
