<h2>住所情報登録</h2>

<%= form_for @private_person do |f| %>
<div class="all">
      <%= render "devise/shared/error_messages", resource: @private_person %>

      <div class="field">
        <%= f.label :nickname, "あだ名" %><br />
        <%= f.text_field :nickname, class:"field-main" %>
      </div>

      <div class="field">
        <%= f.label :address, "住所" %><br />
        <%= f.text_field :address, class: "field-main" %>
      </div>

      <div class="field">
        <%= f.label :profile, "自己紹介" %><br />
        <%= f.text_field :profile, class: "field-profile" %>
      </div>

      <div class="actions">
        <%= f.submit "登録する", class:"submit-btn" %>
      </div>
    <% end %>
    <div class="footer-new-info">
    <%= render "devise/shared/links" %>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>