<div class="user-main">
  <div class="header-name">
    <%= "#{@user.name}さんの詳細ページ" %>
  </div>
      <div class="user_wrapper">
        <div class="left-page">
              <table class="table">
                <tbody class="table-main">
                  <tr>
                    <th class="table__col1">ニックネーム</th>
                    <td class="table__col2"><%= @user.private_person.nickname %></td>
                  </tr>
                  <tr>
                    <th class="table__col1">年齢</th>
                    <td class="table__col2"><%= @user.age %></td>
                  </tr>
                  <tr>
                    <th class="table__col1">住所</th>
                    <td class="table__col2"><%= @user.private_person.address %></td>
                  </tr>
                  <tr>
                    <th class="table__col1">自己紹介</th>
                    <td class="table__col2"><%= @user.private_person.profile %></td>
                  </tr>
                </tbody>
              </table>
        </div>
      </div>
        <div class="exercise-page">
          <p class="content-memo">日記を書いた後は運動でもどうですか？？<br>
          チャンネル登録者１５万人超えの人気YouTuberが教えるHIITトレーニングです。<br>
          運動をして明日も元気にいきましょう。
          </p>
          <div class="youtube-page">
          <a class="youtube" href="https://www.youtube.com/channel/UC_x_e-SGSU-basLUFOQ6FJA/videos" target="_blank" rel="noopener">Go for it!!</a>
          </div>
          <div class="show-btn">
            <%= link_to "ホームへ戻る", forms_path, class: "header-name" %>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>

</div>