<body>
      <%= render "shared/header" %>

  <div class="container">
      <div class="content">
              <div class="title">
                <span>IT'S TIME TO RELAX</span>
              </div> 
      </div>
      <div class="template">
        
          <h1 class="tatami"></h1>
          <br>
          <br>
          <br>
          
          <br>
          <p class="lead">この場所はイライラ、ストレス、悲しみ、辛いなど<br>
            そういった感情を和らげたり<br>
            向き合ったりするために日記を書き留める場所になります。
          </p>
          <br>
          <br>
          <br> 
      </div>
      <br>
      <br>
      <div class="link">
        <%= link_to "Writing page", new_form_path, class: "write" %>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
        <div class="calender">
            <%= month_calendar events: @forms do |date, forms| %>
                <%= date.day %>
                <% forms.each do |form| %>
                  <div>
                    <%= link_to form.title, form %>
                  </div>
                <% end %>
            <% end %>
        </div>
    <div class="lesson-wrapper">
        <div class="heading">
          <h2>Learn to understand How to relax!!</h2>
        </div>
        <div class="lessons">
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://prog-8.com/images/html/advanced/html.png">
              <p>マインドフルネス</p>
            </div>
            <p class="txt-contents">マインドフルネスは端的に申し上げると気付きである。
              <br>最近では食事をしている最中に携帯を触り食事に集中していないことがあります。
            <br>そこでマインドフルネスが失われている。〜</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://prog-8.com/images/html/advanced/jQuery.png">
              <p>ヨガ</p>
            </div>
            <p class="txt-contents">体の動きの一つ一つを確認して健康を感じることがヨガの醍醐味です。。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://prog-8.com/images/html/advanced/ruby.png">
              <p>ミュージック</p>
            </div>
            <p class="txt-contents">好きな音楽を聞き癒やされたり、友人と一緒に踊ったり音楽はただ聞くだけではない
              <br>癒やしのミュージックやストレス軽減ミュージックがあります。
              <br>いくつかご紹介しますので興味がある方はぜひ。
            </p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <img src="https://prog-8.com/images/html/advanced/php.png">
              <p>散歩</p>
            </div>
            <p class="txt-contents">携帯やタブレット端末を家において散歩する。このことがいかいにリラックスできるかたくさんのひとはまだ気がついていない。</p>
          </div>
        </div>
    </div>
  </div>

    <footer>
      &copy; 2021 RELAXATION
   </footer>
</body>