<body>
    <div class="main-2">
      <div class="main-header">
          <div class="left-header">
            <%= link_to "RELAXATION DAIRY", root_path, class: "main-title" %>
          </div>
          <div class="right-header">
            <li><%= link_to 'マイページ', user_path(current_user.id), class: "my-page" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "log-ou" %></li>
          </div>
      </div>
        <div class="simple-calender">
                <div class="calender">
                    <%= month_calendar events: @forms do |date, forms| %>
                        <%= date.day %>
                          <% forms.each do |form| %>
                            <% if current_user.id == form.user_id && form.title %>
                              <div>
                                <%= link_to form.title, form %>
                              </div>
                            <% end %>
                          <% end %>
                    <% end %>
                </div>
        </div>
        <div class="link">
          <%= link_to "Writing the Page", new_form_path, class: "write" %>
        </div>
            <br>
            <br>
          <div class="lesson-wrapper">
              <div class="heading">
                <h2>このアプリケーションの日記の書き方</h2>
              </div>
                <div class="explain">
                  <h3>免疫力が高まる３行日記</h3>
                  <div class="explain-title">
                    1 今日一番、自分が失敗したこと<br>
                  </div>
                    <p class="sentence">
                      失敗したことを書き出すことで客観視できるようになる。<br>
                      ストレスの原因と向き合うための一行。       
                    </p>
                  <div class="explain-title">
                    2 今日一番、自分が感動したこと。
                  </div>
                    <p class="sentence">
                      決して嫌なことばかりではないことに気づき、<br>
                      小さな感動を見つける完成を維持していくための一行。
                    </p>
                  <div class="explain-title">
                    3 明日の自分の目標
                  </div>
                    <p class="sentence">
                    未来に向けたビジョンを具体的にイメージしながら<br>
                    モチベーションを高める。
                    </p>
                </div>
                <%= render "shared/footer" %>
          </div>
        </div>
    </div>
</body>