<div class="head-image">
    <br>
    <br>
    <hr>
    <hr>
    <div class="container">
        <div class="col-sm-8 offset-sm-2">
          <div class="top-header">
            <p class="top-message">ここは完全にプライベートの部屋です。何を書いても誰にも見られません。
              <br>安心して好き放題書いて頭の中を整理して下さい。
            </p>
          </div>
    </div>

    <div class="main">
        <div class="inner">
          <div class="form__wrapper">
            <h2 class="page-heading">新規日記作成</h2>
              <%= form_with model: @form, local: true do |f|%>
                <div class="field">
                  <%= f.label :title, "今日の出来事" %><br />
                  <%= f.text_field :title, id:"form_title" %>
                </div>

                <div class="field">
                  <%= f.label :content, "ゼロ秒思考で書きましょう。" %><br />
                  <%= f.text_area :content, class: :form__text, id:"form_content" %>
                </div>
               
                <div class="field">
                  <%= f.label :image, "投稿の画像" %><br />
                  <%= f.file_field :image, id:"form_image" %>
                </div>

                <div class="actions">
                  <%= f.submit "保存する", class: :form__btn  %>
                </div>

              <% end %>
              <%# 部分テンプレートでフォームを表示する %>
          </div>
        </div>
    </div>

    <div class="container"> 
      <p id="timer">00:00:00</p>
      <div>
        <button id="start_stop" class="btn btn-lg btn-primary">START</button>
      </div>
    </div>

    <script>
      
    </script>

    <hr>
    <hr>

    <div class="container">
        <div class="footer-content">
            <h1 class="footer-word">お疲れさまでした。</h1>
            <p class="footer-word">後日に見返してみましょう</p>
        </div>
        <div class="row"></div>
          <div class="col-sm-12 text-right">
            <%= link_to "HOMEへ戻る", root_path, class: "back" %>//
            <%= link_to "MY-PAGE", form_path(current_user.id)%>
          </div>
        </div>
    </div>


  <%# <div class="container pt-3">
    <div class="main">
      <div class="jumbotron">
        <h1 class="display-4">REX</h1>
        <p class="lead">リラクゼーションは今ものすごく注目を浴びているリラックス方法です</p>
        <hr class="my-4">
        <p>フィットネスメイト</p>
        <a class="btn btn-primary btn-lg" href="#">Just do it!!</a>
      </div>
    </div>
  </div> %>
</div>