<div class="head-image">
    <br>
    <br>
    <div class="container">
        <div class="col-sm-8 offset-sm-2">
          <div class="top-header">
            <p class="top-message">ここは完全にプライベートの部屋です。
              <br>何を書いても誰にも見られません。安心して好き放題書いて下さい。
            </p>
          </div>
    </div>
    <br>
    <div class="music">
        <audio controls preload="auto">
          <source src="https://hakuhin.jp/download/js/audio/sample_00.m4a" type="audio/mp4">
        </audio>
    </div>
    <div class="main">
        <div class="inner">
          <div class="form__wrapper">
            <div class="dairy">新規作成</div>
            <br>
              <%= form_with model: @form, local: true do |f|%>
                <div class="field">
                  <%= f.label :title, "Title" %><br />
                  <%= f.text_field :title, id:"form_title", class: "field_top"%>
                </div>
                <br>
                <br>
                <div class="field">
                  <%= f.label :content, "Please relax and write" %><br />
                  <br>
                  <%= f.text_area :content, class: :form__text, id:"form_content", class: "field_content",
                  placeholder: "５分以内に書き終えて下さい。" %>
                </div>
                <br>
                <br>
                <div class="time">
                     <%= f.label :start_time, "日付" %>
                     <%= f.datetime_select :start_time, class: "time-content" %>
                </div>
                <br>
                <div class="field-image">
                  <%= f.label :image, "投稿の画像" %><br />
                  <%= f.file_field :image, id:"form_image", class:"field_buttom" %>
                </div>
                <br>
                <div class="actions">
                  <%= f.submit "投稿を保存する", class: :form_btn  %>
                </div>
                <br>
              <% end %>
              <%# 部分テンプレートでフォームを表示する %>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="footer-content">
            <h1 class="footer-word">お疲れさまでした。</h1>
            <p class="footer-word">後日に見返してみましょう。</p>
    <br>
    <br>
        </div>
        <div class="row">
          <div class="footer-buttom">
            <%= link_to "HOMEへ戻る", forms_path, class: "back" %>//
          </div>
        </div>
    </div>
    <br>
</div>