<body>
  <div class="container">
      <div class="main-1">
          <% if user_signed_in? %>
            <div class="main">
              <div class="top-1">
                <div class="head-message">
                  <div class="title">
                    <span>ロ</span>
                    <span>グ</span>
                    <span>イ</span>
                    <span>ン</span>
                    <span>完</span>
                    <span>了</span>
                    <span>し</span>
                    <span>ま</span>
                    <span>し</span>
                    <span>た</span>
                    <span>。</span>
                  </div> 
                </div>
                  <div class="context">
                    <%=  "#{current_user.name}さん" %>
                  </div>
                  <p class="lead"><br>今日あったことを振り返ったり、向き合ったりするときは<br>
                    文章を書いたり打ったりしましょう。<br>
                    <br>
                  </p>
                  <div class="log-main">
                      <div class="enter">
                        <%= link_to "Enter the Room",  forms_path, class: "enter-btn" %>
                      </div>
                      <div class="log-out">
                        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn2" %>
                      </div>
                  </div>
                </div>
            </div>
          <% else %>
            <div class="main">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="content">
                  <div class="title">
                    <span>今</span>
                    <span>日</span>
                    <span>も</span>
                    <span>１</span>
                    <span>日</span>
                    <span>お</span>
                    <span>疲</span>
                    <span>れ</span>
                    <span>さ</span>
                    <span>ま</span>
                    <span>で</span>
                    <span>し</span>
                    <span>た</span>
                    <span>。</span>
                  </div> 
                </div>   
                  <div class="title">
                    <span>新</span>
                    <span>規</span>
                    <span>登</span>
                    <span>録</span>
                    <span>ま</span>
                    <span>た</span>
                    <span>は</span>
                    <span>ロ</span>
                    <span>グ</span>
                    <span>イ</span>
                    <span>ン</span>
                    <span>し</span>
                    <span>て</span>
                    <span>下</span>
                    <span>さ</span>
                    <span>い</span>
                    <span>。</span>
                  </div>          
                    <div class="log">
                      <%= link_to "新規登録", new_user_registration_path %> /
                      <%= link_to "ログイン", new_user_session_path%>
                    </div>
              </div>
            </div>
          <% end %>
      </div>
      <%= render "shared/footer" %>
  </div>
</body>
